#novoRoteiro{
    width: 100%;
    min-height: 93.8vh;
}

#novoRoteiro label{
    font-size: large;
    color: #444;
    font-weight: bold;
}

#novoRoteiro .main-title{
    margin-top: 80px;
    margin-bottom: 40px;
}

#novoRoteiro .input{
    width: 100%;
    margin-bottom: 5%;
    height: 2.5em;
    color: #444;
    border-radius: 20px;
    padding-left: 1%;
}

#novoRoteiro button{
    width: 50%;
    min-width: 100px;
    max-width: 150px;
    height: 2.5em;
}

#novoRoteiro .cancelBtn,
#novoRoteiro .salvarBtn{
    width: 25%;
}

#novoRoteiro .main-btn{
    padding: 0;
    border-radius: 20px;

}

#novoRoteiro .main-btn.adicionarPacote{
    margin-top: 5%;
    min-width: 200px;

}

#novoRoteiro .main-btn:hover{
    color: #852E7C;
    font-weight: bold;
}

#novoRoteiro a{
    width: 100%;
    margin-left: 10%;
}

#novoRoteiro .salvarBtn{
    margin-right: 10%;
}

#novoRoteiro .select{
    margin-top: 5%;
}

.select label{
    width: 100%;
}

#novoRoteiro select{
    width: 100%;
    margin-bottom: 2%;
    height: 2.5em;
    color: #444;
    border-radius: 20px;
    padding-left: 1%;
}

#novoRoteiro .divSelect{
    margin-bottom: 5%;
}

#novoRoteiro .main-title.titlePacotes{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}
.main-title.titlePacotes::after{
    border-top: 0;
}

#novoRoteiro .divBtns{
    border-top: #444 2px solid;
    padding-top: 5%;
}

#novoRoteiro .destinoBtn{
    min-width: 150px;
}

#novoRoteiro table{
    width: 100%;
    text-align: center;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

#novoRoteiro th{
    width: 23%;
    background-color: #852E7C;
    border: 2px solid #000;
    color: #FFF;
}

#novoRoteiro .thRemover{
    width: 8%;
}

#novoRoteiro td{
    border: 1px solid #000;
    border-left: 2px solid #000;
}

#novoRoteiro p{
    margin: 0;
    text-align: right;
    font-weight: bold;
    font-size: medium;
}

#novoRoteiro p .precoOriginal{
    text-decoration: line-through;
}

#novoRoteiro .promo{
    font-size: larger;
}

#novoRoteiro .tdRemover{
    transition: .5s;
}

#novoRoteiro .tdRemover:hover{
    background-color: #444;
    color: #FFF;
    cursor: pointer;
}