.projectCard{
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 20px;
    width: 32%;
    margin: 0.5%;
    text-align: center;
}

.projectCard h4{
    background-color: #222;
    color: #FFF;
    font-weight: bold;
    padding: 0.4em;
    margin-bottom: 1.3em;
    border-radius: 15px;
}

.projectCard p span{
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

.project_card_actions a,
.project_card_actions button{
    min-width: 80px;
    text-decoration: none;
    background-color: #222;
    color: #FFF;
    cursor: pointer;
    border: 2px solid #222;
    transition: 0.5s;
    margin: 1%;
    border-radius: 8px;
    font-weight: bold;
}

.project_card_actions button:hover a,
.project_card_actions button:hover{
    background-color: #FFF;
    color: #222;
}
.project_card_actions a{
    border: none;
}